%h1 Log In
= form_tag sessions_path, method: :post do
  .form-group
    = label_tag :email
    = email_field_tag :email, nil, class: 'form-control', required: true
  .form-group
    = label_tag :password
    = password_field_tag :password, nil, class: 'form-control', required: true
  = submit_tag 'Log In', class: 'btn btn-primary btn-lg'
