%h1 Welcome#index
- if current_user != nil
  = current_user.email
  = link_to 'Logout', log_out_path
- else
  = link_to 'Sign up', sign_up_path
  = link_to 'Login', log_in_path
%p Find me in app/views/welcome/index.html.erb
